* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 0, 0, 0.9);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

nav li {
    list-style: none;
}

nav li a {
    text-decoration: none;
}

nav li a p {
    font-family: Arial;
    font-size: 2em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
}